h2{
    /*text-align: center;*/
    color: black;
}


#student{
    background-color: lightgreen;
    border-color: lightgreen;
    border-style:solid;
    width: 20%;
    height: 90vh;
    float: left;
    position: absolute;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1px;
    overflow: auto;
}

#studentDetails{
    background-color:lightgrey;
    border-color: lightgray;
    border-style:solid;
    width: 79%;
    height: 90vh;
    float: right;
    position: relative;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1px;
    
}

#studentInfo{
    display:inline;
    text-align: left;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

#record{
    width: 100px;
    height: 35px;
    font-size:medium;
    border-radius: 5px;
    color: white;
    background-color: limegreen;
}
#overview{
    text-align: center;
}

#student li{
    line-height: 1.5em;
    list-style: none;
}

#student li a{    
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#student li a:hover{
    color: #1565c0;
    text-decoration: none;
}

.newstudent{
    background-image: url("../image/new.png");
    background-size: 40px, 20px;
    background-repeat: no-repeat;
    display: block;
}


table#greenRecord{
    width:  100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}
table#greenRecord thead{
    border: 1px solid black;
    background-color: limegreen;
    width: 100%;
    font-size: small;
    /*display: inline-block;*/
}

table#greenRecord tbody{
    border: 1px solid black;
    background-color: lightgreen;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: smaller;
    overflow-y: auto;
    /*display: inline-block;*/
}




